*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #0ec77a, #4787a3);
    color: #333;
    line-height: 1.6;
    padding: 20px;
    width: 100%;
    height: 100vh;
}
.container{
    background-color: #f3f3f3;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    width: 600px;
    margin: auto;
}
h1{
    color: #0a8853;
}
.title{
    display: flex;
    gap: 15px;
}
.title img{
    width: 50px;
    height: 50px;
}
.input-section{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #dddcdc;
    border-radius: 20px;
    height: 50px;
}
.input-section input{
    background-color: transparent;
    border: none;
    flex: 1;
    font-weight: bold;
    padding-left: 20px;
    outline: none;
}
.input-section button{
    background-color: #da790b;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 16px 30px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.1s ease-in-out;
}
.input-section button:hover{
    background-color: #c96c09;
}

.task-list{
    margin-top: 30px;
    list-style-type: none;
    margin-left: 10px;
}

.task-list li{
    margin-bottom: 10px;
}
.task-list input{
   scale: 1.7;
   margin-right: 10px;
}

label.checked{
    text-decoration: line-through;
    color: gray;
}